/* style.css */

.custom-background {
  background-color: #72502D;
}

.centered-title {
  text-align: center;
  color: white; /* Titre en blanc */
  font-style: italic; /* Titre en italique */
}

.embedded-image-container {
  width: 100%; /* L'image occupe la largeur complète */
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); /* Ombre */
  background-color: white; /* Couleur de fond de l'image */
}

.embedded-image {
  width: 100%;
  height: auto; /* Garder les proportions de l'image */
  display: block;
  margin: 0 auto; /* Centrer l'image horizontalement */
  height: 80vh; /* Changer la hauteur de l'image (par exemple, 80% de la hauteur de la fenêtre) */
}
